.parallax {
  position: relative;
  overflow: hidden;
  display: flex;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
}

.scroller {
  display: flex;
  white-space: nowrap;
  font-family: "Inter", "Outfit", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  padding: 20px 0;
}

.scroller span {
  display: block;
  margin-right: 30px;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 6rem;
    padding: 40px 0;
  }
}